
html {
    font-size: 62.5%;
}
body {
    font-family: "Goldman", cursive;
} 
nav {
    display: flex;
    padding: 2rem;
    min-height: 10vh;
    align-items: center;
    flex-wrap: wrap;
    margin-top: auto;
    background: #00a8c7;
    justify-content: space-between;
    width: 100%;
    position: fixed;
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}
nav li {
    font-size: 2.5rem;
    padding: 0 4rem 0 4rem;
}
nav a {
    color: white;
    text-decoration: none;
}
nav img {
    width: 5vw;
} 
h2 {
    color: white;
    text-align: center; 
    font-size: 80px;
    margin-top: 250px;
}
p {
    color: white;
    font-size: 20px;
    margin-left: 150px;
    margin-top: 200px;
}
.ar1 {
        background-image: url(./img/OPDRACHTBACK.png);
        background-size: 100%;
        background-position: center;
        height: 1000px;
}
body {
    background-color: black;
}
.Ri {
    margin-right: 33%;
    float: right;
}
.Li {
    margin-left: 30%;
    float: left;
}
.Rt {
    margin-left: 50%;
}
.Lt {
    margin-left: 27%;
}
.fp {
    background-color: #00a8c7;
    padding: 50px;
    text-align: center;   
    width: auto;
    margin-left: 0px;
  }