.container1 {
display: flex;
justify-content: space-evenly;
flex-direction: row-reverse;
}
.box {
    height: 200px;
    width: 200px;
}
.box1 {
    background-color: blue;
}
.box2 {
    background-color: black;
}
.box3 {
    background-color: red;
}
.box4 {
    background: green;
}