*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    height: 10vh;
    color: white;
}
header{
    background-color: crimson;
}
.hamburger{
    display: none;
}
.s{
    height: 30vh;
}
.s1{
    background-color: yellow;
}
.s2{
    background-color: orange;
}
.s3{
    background-color: greenyellow;
}
.text{
    width: 90%;
    margin: auto;
}
@media screen and (max-width: 768px){
    nav{
        justify-content: center;
    }
    header{
        background-color: rgb(233, 83, 113);
    }
    .s1{
        background-color: rgb(216, 12, 60);
    }
    .s2{
        background-color: rgb(49, 98, 213);
    }
    .s3{
        background-color: rgb(23, 75, 196);
    }
    .text{
        color: white;
    }
}
@media screen and (max-width: 576px){
    nav{
        align-items: center;
        justify-content: space-between;
    }
    header{
        background-color: rgb(118, 133, 233);
    }
    .hamburger{
        display: flex;
        padding: 3%;
        background-color: white;
    }
    .s{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .s1{
        background-color: rgb(140, 217, 225);
    }
    .s2{
        background-color: rgb(211, 101, 221);
    }
    .s3{
        background-color: rgb(55, 24, 133);
    }
    .text{
        display: flex;
        justify-content: center;
        color: white;
    }
}